<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Create</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        <ng-container *ngIf="createMaterialForm">
            <form [formGroup]="createMaterialForm">
                <section class="container mx-auto w-full items-center">
                    <div class="px-4 py-6">
                        <div
                            id="image-preview"
                            class="mx-auto max-w-sm cursor-pointer items-center rounded-lg border-2 border-dashed border-gray-400 bg-gray-100 text-center"
                        >
                            <input
                                (change)="onFileSelected($event)"
                                id="upload"
                                type="file"
                                class="hidden"
                                accept="image/*"
                            />
                            <label for="upload" class="cursor-pointer">
                                @if (previewUrl) {
                                    <img
                                        [src]="previewUrl"
                                        class="mx-auto h-48 rounded-lg object-cover"
                                        alt="Image preview"
                                    />
                                } @else {
                                    <div class="h-48 p-6">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="mx-auto mb-4 h-8 w-8 text-gray-700"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5"
                                            />
                                        </svg>
                                        <h5
                                            class="mb-2 text-xl font-bold tracking-tight text-gray-700"
                                        >
                                            Upload picture
                                        </h5>
                                        <p
                                            class="text-sm font-normal text-gray-400 md:px-6"
                                        >
                                            Choose photo size should be less
                                            than
                                            <b class="text-gray-600">2mb</b>
                                        </p>
                                        <p
                                            class="text-sm font-normal text-gray-400 md:px-6"
                                        >
                                            and should be in
                                            <b class="text-gray-600"
                                                >JPG, PNG, or GIF</b
                                            >
                                            format.
                                        </p>
                                        <span
                                            id="filename"
                                            class="z-50 bg-gray-200 text-gray-500"
                                        ></span>
                                    </div>
                                }
                            </label>
                            <div
                                class="absolute cursor-default text-red-500"
                                *ngIf="uploadMessage"
                            >
                                {{ uploadMessage }}
                            </div>
                        </div>
                    </div>
                </section>
                <div class="flex gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            placeholder="Name"
                            [formControlName]="'name'"
                        />
                    </mat-form-field>
                </div>
                <div class="mt-4 flex justify-end">
                    <button
                        (click)="createMaterial()"
                        mat-raised-button
                        color="primary"
                        class="flex min-w-fit gap-2"
                    >
                        <mat-icon svgIcon="heroicons_outline:inbox"></mat-icon>
                        <span> Create </span>
                    </button>
                </div>
            </form>
        </ng-container>
    </div>
</div>
